.head{
    width: 100%;
    height: 5em;

}
.div{
    width : 100%;
    height: 75em;
}
.div article{
    clear: both;
    display: inline-block;
}
#art1{
    width: 50%;
    padding-right: 15em;
    padding-left: 15em;
    text-align: center;
}
#art1 li{
    clear: both;
    display: inline-block;
}
#art2{
    width: 50%;
    padding-right: 15em;
    padding-left: 15em;
    text-align: center;
}
.foot{
    width: 100%;
    height: 15em;

}